.firstul li {
  position: relative;
  padding: 12px;
  margin: 7px;
  border: 2px solid #0e0e0ec4;
  border-radius: 25px;
  cursor: pointer;
  background-color: #f8f8f8;
  transition: background-color 0.3s;
  color: black;
  text-align: left;
}
.firstul li::before {
  /* content: '\2192'; */
  position: absolute;
  left: 232px;
  /* top: 26%; */
  /* transform: translateY(-01225%); */
  display: inline-block;}

.submenu {
  display: none;
  padding-left: 18px;
}

.submenu ul {
  margin-top: 5px;
}

table {
  border-collapse: collapse;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.2); /* Adjust the RGBA values for the desired shade of blue and transparency */
  box-shadow: 0 4px 8px rgba(23, 69, 118, 0.83); /* Adjust the RGBA values for the desired blue shadow color and transparency */
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  text-transform: capitalize;
  color: black;
}


th {
  background-color: #c7c7c736;; /* Adjust the color for the header background */
  color: rgb(0, 0, 0); /* Set text color for header to contrast with the background */
}

/* Apply different background colors to alternate columns for transparency effect */
tr:nth-child(even) {
  background-color: #c7c7c780; /* Adjust the RGBA values for the desired shade of blue and transparency */
}

tr:nth-child(odd) {
  background-color: #ffffff43; /* Adjust the RGBA values for the desired shade of blue and transparency */
}

.tdpop{
  width:200px;
  height: 50px;
  }

.submenu li {
  border: none;
  border-top: 1px solid #ccc;
  background-color: #f0f0f0;
}

.submenu li:hover {
  background-color: #d0d0d0;
}

.submenu::before {
  /* content: '\2192'; Unicode arrow-right character */
  margin-right: 8px;
  display: inline-block;
}



li.open .submenu {
  display: block;
  content: '\2192'; 
}

.rating-buttons label {
  display: inline-block;
  margin: 0 10px;
  color: black;
}
