
.project-heading{
    text-align: center;
    padding: 4rem 0 2rem 0;
}

.worrk-container{
    background: black;
}
.project-container{
    max-width: 1140px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:40px;
padding-bottom: 5rem;
}

.project-card{
    background:transparent;
    padding: 1.2rem 1rem;
    border: 2px solid transparent;
    backdrop-filter: blur(5px);
    box-shadow: rgba(72, 135, 202, 0.652) 0 0 40px 20px;
}

.project-card img{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
    
}

.project-title{
    color: rgb(255, 255, 255);
    padding: 1rem 0;
    text-align: center;
}

.pro-details p{
padding-bottom: 1rem;
font-size:1.1rem;
text-align: center;
color: rgb(255, 255, 255);
line-height: normal;
}

@media screen and (max-width:740px){
    .card-container{
        max-width: 90%;
        margin:auto;
        grid-template-columns: 1fr;
    }
}