@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;400&family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

html,
body,
#root,
.app,
.content {
  height: 100%;
  width: 100%;
  font-family: "Source Sans Pro", sans-serif;
}

.app {
  display: flex;
  position: relative;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track 
::-webkit-scrollbar-track {
  background: #e0e0e0;
}*/

/* Handle */
::-webkit-scrollbar-thumb {
  background:linear-gradient(transparent,#808080);
  border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(transparent,#4f4f4f);
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Outfit', sans-serif;
}



h1,h4,a,p :not(.MuiTypography-root){
  color:white;
  text-decoration: none;
}

ul{
  list-style-type: none;
}

.btn
{
  padding: 12px 32px;
font-size: 1rem;
text-transform: uppercase;
background:transparent;
border:1px solid white;
font-weight: 600;
cursor: pointer;
border-radius: 20px;
}

.btn-light
{
  background: transparent;
  color: white;
  border-radius: 20px;
}

h1,h2,h3,h4,h5,h6 {
  text-transform: capitalize;
}

span {
  color: inherit;
}